@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid cyan; */
}

header{
    display: flex;
    position:fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 25px;
    width: 100%;
    height: 80px;
    box-shadow: 0px 3px 20px rgb(0, 0, 0,0.1);
    background-color: white;
    /* overflow: hidden; */
}

#logo-menu {
    /* width: 250px; */
    /* height: 95%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: -70px; */
    /* margin-top: -10px; */
}
.logo{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position:-13px 0px;
}
#logo-menu img{
    cursor: pointer;
}

#Menu {
    /* position: absolute; */
    display: flex;
    /* margin-top: 10px; */
    margin-left: 63px;
    font-family: "Baumans", system-ui;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

#Menu i {
    margin-top: 5px;
    color: #E44E3F;
}
#Menu ul{
    display: none;
    position: absolute;
    width:170px ;
    top: 30px;
    left: 10px;
    background-color: #ffffff;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0px 3px 20px rgb(0, 0, 0,0.1);
    z-index: 10;
}
.show-before::before{
    /* display: none; */
    content: "";
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0,0.2);
}

#Menu ul li{
    list-style: none;
    margin: 10px 0;
    color: #E44E3F;
}

#Menu:hover ul{
    display: block;
}
#Menu:hover ~ #header::before{
    display: block;
}
nav {
    /* width: 100%; */
    /* height: 80px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 1; */
    /* background-color: rgb(245, 245, 245); */
    gap: 35px;
    /* position: relative; */
    /* overflow: hidden; */
}
#search_bar {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin-top: -25px; */
    /* margin-right: 50%; */
    margin-right: 20px;
    margin-left: 40px;
}

#search_bar input {
    width: 300px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid transparent;
    font-size: 15px;
    outline: none;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Baumans", system-ui;
    background-color: #e7e7e7;
}

#search_bar button {
    position: absolute;
    right: 10px;
    color: #858585;
    border: none;
    background-color: transparent;
    padding: 7px;
}



#About {
    /* position: absolute; */
    display: flex;
    font-family: "Baumans", system-ui;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    /* margin-top: 10px; */
}

#About i {
    margin-top: 3px;
    margin-right: 5px;
}

#Account {
    position: relative;
    display: flex;
    /* margin-left: 74%; */
    font-family: "Baumans", system-ui;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    /* margin-top: 10px; */
}

#Account i {
    margin-top: 3px;
    margin-right: 5px;
}

#Account #arrow-down{
    margin-right: 0px;
}

#logout{
    display: none;
    position:absolute;
    top: 30px;
    left: 15px;
    z-index: 10;
    text-decoration: none;
    transition: all 0.3s;
    background-color: #fff;
    box-shadow: 0px 3px 20px rgb(0, 0, 0,0.1);
    padding:10px 20px;
    border-radius: 10px;
}
#logout a{
    text-decoration: none;
    color: #E44E3F;
    font-family: "Baumans", system-ui;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
#Cart {
    /* position: absolute; */
    display: flex;
    /* margin-left: 92%; */
    font-family: "Baumans", system-ui;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    /* margin-top: 10px; */
    align-items: center;
}
#Cart a{
	text-decoration:none;
	color:black;
}

#Cart i {
    margin-top: 3px;
    margin-right: 5px;
}

#cart-item-no{
	background-color: #E44E3F;
    color: white;
    font-size: 14px;
    padding: 1px 7px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21px;
    line-height: 14px;
    margin: 0 5px;
    font-weight: 700;
}

main{
    margin-top: 100px;
    margin-right: calc(10% );
    margin-left: calc(10% );
    display: flex;
    flex-direction: column;
}
#categories{
    padding: 16px;
}
#category-heading{
    /* position: absolute; */
    /* margin-left: 5%; */
    font-family: "Barlow", sans-serif;
    font-weight: 650;
    font-size: 20px;
    font-style: normal;
    margin-bottom: 16px;
}

#category-container{
    display: flex;
    /* margin-top: 4%; */
    /* margin-left: 4%; */
    /* margin-right: 6%; */
    overflow-x: scroll;
    scroll-snap-type:x mandatory ;
    gap: 24px;
}

#category-container::-webkit-scrollbar{
    display: none;
}

.catagory-card{
    scroll-snap-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.catagory-card img{
    width: 144px;
    height: 130px;
    object-fit: cover;
    object-position: top;
}
.catagory-card p{
    font-family: "Baumans", system-ui;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 8px;
    color: #505050;
}

.selected p{
    color: #E44E3F !important;
}

hr{
    margin: 32px 0;
    border: 0.3px solid rgb(240, 240, 245);
}

#food-section{
    padding: 16px;
}

#food-section-heading{
    font-family: "Barlow", sans-serif;
    font-weight: 650;
    font-size: 20px;
    font-style: normal;
    /* margin-bottom: 16px; */
    margin-bottom: 8px;
    margin-top: -20px;
}
#food-container{
    display: grid;
    /*grid-template-columns: repeat(auto-fit,minmax(273px,1fr));*/
    grid-template-columns: repeat(auto-fill,273px);
    row-gap: 50px;
    column-gap: 20px;
    justify-items:left;
    justify-content: center;
}
.food-card{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 273px;
    overflow: hidden;
}

.food-card-img{
    width: 100%;
    height: 182px;
    object-fit: cover;
    border-radius: 10px;
}
.food-card-text{
    display: flex;
    gap: 2px;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-family: "Baumans", system-ui;
}
.food-card-heading{
    font-size: 20px;
    font-weight: 400;
}

.food-card-price{
    font-size: 23px;
    font-weight: 400;
}
.food-card-price span{
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #858585;
}

.food-card-button{
    width: 110px;
    height: 43px;
    border-radius: 50px;
    border: none;
    background-color: #E44E3F;
    color: white;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
.food-card-button:active{
	background-color: #b71f10;
}

footer{
    display: grid;
    grid-template-columns: 2.5fr 2fr 1fr;
    background-color: #212121;
    color: white;
    gap: 60px;
    padding: 48px 10% 100px 10%;
    margin-top: 50px;
    overflow: hidden;
    font-family: "Barlow", sans-serif;
}

#footer-left-heading{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}

#footer-left-heading h1{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

#footer-left p{
    color: #9C9B9B;
    font-weight: 500;
    font-size: 15px;
}
#footer-center p{
    color: #9C9B9B;
    font-weight: 500;
    font-size: 15px;
    line-height: 50px;
    cursor: pointer;
    margin-top: -25px;
}
.footer-headings{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 50px;
}

#social-media{
    display: flex;
    gap: 20px;
    align-self: end;
    margin-left: -7px;

}
#social-media i{
    font-size: 25px;
    color: #9C9B9B;
    cursor: pointer;
}

#footer-center{
    overflow: hidden;
}
