* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/BG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

#bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent black */
    z-index: -1;
    opacity: 1;
}



#Welcome_page {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    /* Make the background transparent */
    color: white;
    position: relative;
    /* Make sure the container is positioned relative for z-index to work */
    z-index: 1;
    /* Ensure the content is above the background */
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

#logo {
    width: 250px;
    height: 100%;
    display: flex;
    /* Arrange in a row */
    justify-content: center;
    align-items: center;
    margin-left: -35px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 23px;
    cursor: pointer;
}

#logo a {
    text-decoration: none;
    font-size: 35px;
    margin-left: -40px;
    color: white;
}
#form_body{
    display: flex;
    width: 100dvw;
    height: calc(100dvh - 80px);
    justify-content: center;
    align-items: center;
}
#Login_form {
    position: absolute;
    height: 430px;
    width: 380px;
    background-color: rgb(220, 220, 220);
    background-position: center;
    background-size: cover;
    /* margin-left: 425px; */
    margin-top: -70px;
    border: none;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cross {
    color: black;
    position: absolute;
    margin-top: -99%;
    margin-left: 85%;
    font-size: 15px;
    padding: 3px;
    cursor: pointer;
    text-decoration: none;
}

#L {
    position: absolute;
    background-color: transparent;
    width: 150px;
    top:30px;
    align-items: center;
    margin-left: 65px;
    margin-top: -5px;
    font-family: "Basic", sans-serif;
}

#L h1 {
    color: black;
    font-size: 30px;
    margin-top: -5px;
    font-weight: 550;
}

#user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 50px;
    margin-top: -40px;
}

#user i {
    position: absolute;
    margin-left: 247px;
    color: #727171;
}

input::-ms-value {
    margin-left: 20px;
}

input::-ms-reveal, input::-ms-clear {
    display: none;
}
input{
    padding-right: 35px !important;
}
#user input {
    width: 300px;
    height: 45px;
    border-radius: 25px;
    border: 2px solid transparent;
    font-size: 15px;
    margin-left: -5px;
    outline: none;
    color: black;
    padding: 20px;
}

#pass {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 50px;
    margin-left: -15px;
}

#pass i {
    margin-left: -30px;
    color: #727171;

}

#pass input {
    width: 300px;
    height: 45px;
    border-radius: 25px;
    border: 2px solid transparent;
    margin-left: -5px;
    outline: none;
    font-size: 15px;
    color: black;
    padding: 20px;
}

input::placeholder {
    font-size: 15px;
    padding-left: 0px;
}

#submit {
    width: 115px;
    height: 45px;
    background-color: #E44E3F;
    border-radius: 50px;
    cursor: pointer;
    font-size: 13px;
    border: none;
    color: white;
    font-family: "Biryani", sans-serif;
    font-weight: 600;
    font-style: normal;
    opacity: 1;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
    
    width: 300px;  
    padding: 0 !important;
    height: 45px;
    border-radius: 25px;
    border: 2px solid transparent;
    margin-top: 20px;
    outline: none;
    color: white;
    background-color: #E44E3F;
}
#msg_box{
    position: relative;
    top: 30px;
}
#text{
    position: absolute;
    margin: 20px 0;
    bottom: 10px;
}
#text h3 {
    /* position: relative; */
    color: black;
    /* left: 540px; */
    /* top: px; */
    font-family: "Basic", sans-serif;
    font-size: small;
    cursor: pointer;
    /* line-height: 100px; */
}

#text a {
    text-decoration: none;
    color: #E44E3F;
    font-family: "Basic", sans-serif;
    font-size: small;

}

@media only screen and (max-width: 768px) {
Tablet styles
 #bg {
        background-size: cover;
    }
    #logo{
        font-size: 15px;
    }
    #login_signup{
        font-size: 15px;
    }
} 
